<div id="<%= dom_id emp_detail %>">
  <p>
    <strong>Fullname:</strong>
    <%= emp_detail.fullname %>
  </p>

  <p>
    <strong>Emp:</strong>
    <%= emp_detail.emp_id %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= emp_detail.rank %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= emp_detail.division %>
  </p>

  <p>
    <strong>Sup name:</strong>
    <%= emp_detail.sup_name %>
  </p>

  <p>
    <strong>Pos title:</strong>
    <%= emp_detail.pos_title %>
  </p>

  <p>
    <strong>Ser year:</strong>
    <%= emp_detail.ser_year %>
  </p>

  <p>
    <strong>Ser month:</strong>
    <%= emp_detail.ser_month %>
  </p>

  <p>
    <strong>Educ course:</strong>
    <%= emp_detail.educ_course %>
  </p>

  <p>
    <strong>Educ grad:</strong>
    <%= emp_detail.educ_grad %>
  </p>

  <p>
    <strong>Educ skill:</strong>
    <%= emp_detail.educ_skill %>
  </p>

  <p>
    <strong>Educ certificate:</strong>
    <%= emp_detail.educ_certificate %>
  </p>

  <p>
    <strong>Educ othskill:</strong>
    <%= emp_detail.educ_othskill %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= emp_detail.contact %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= emp_detail.department %>
  </p>

  <p>
    <strong>Sup title:</strong>
    <%= emp_detail.sup_title %>
  </p>

  <p>
    <strong>Hr perday:</strong>
    <%= emp_detail.hr_perday %>
  </p>

  <p>
    <strong>Hr perweek:</strong>
    <%= emp_detail.hr_perweek %>
  </p>

  <p>
    <strong>Break:</strong>
    <%= emp_detail.break %>
  </p>

  <p>
    <strong>Launch:</strong>
    <%= emp_detail.launch %>
  </p>

  <p>
    <strong>Ot weekday:</strong>
    <%= emp_detail.ot_weekday %>
  </p>

  <p>
    <strong>Ot weekend:</strong>
    <%= emp_detail.ot_weekend %>
  </p>

  <p>
    <strong>Workday:</strong>
    <%= emp_detail.workday %>
  </p>

</div>
