<!DOCTYPE html>
<html>
  <head>
    <title>HrFinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="<%= asset_path('logo.png') %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'layouts/navbar'%>
 
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-controller="modal"
      data-action="turbo:frame-load->modal#open" data-bs-focus="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= turbo_frame_tag "reg_form_modal" %>
      </div>
    </div>
  </div>

    <%= yield %>
    </div>
  </body>
</html>
